:root {
  --yellow: hsl(47, 88%, 63%);

  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  --ff-main: 'Figtree';
  
  --fs-main: 1rem;
  
  --fw-semi-bold:  600;
  --fw-extra-bold: 800;
}